*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.icon svg{
    fill: white;
}

svg.customsvg{
    fill: red;
}

.mainpage h1{
    text-align: center;
}

.mainpage h1 a{
   color: white;
   text-decoration: none;
}

.mainpage{
    background-color: red;
}

.header{
    width: 100%;
    height: 88px;
    background-color: black;
}

img{
    height: 200px;
    object-fit: cover;
}

.card{
    position: relative;
}

.price{
    padding: 7px;
    background-color: red;
    color: white;
    position: absolute;
    top: 162px;
    font-weight: 500;
}
.status{
    padding: 3px;
    background-color: rgb(7, 197, 245);
    color: white;
    position: absolute;
    left: 240px;
}
.card-address{
    margin-top: 0;
    opacity: 0.5;
    font-size: 15px;
}
.card-text{
    margin-bottom: 0;
}
.icon{
    padding: 5px;
    position: absolute;
}

